/coverage
/dist
/node_modules
/test/fixtures
/deprecated
.eslintrc.js
.eslintignore
/src/serviceWorker.js
/src/AppServer.jsx
/scripts
/config
/src/__generated__
/src/components/Router/index.tsx
/src/components/Router/router.tsx
/src/views/*/__generated__
/src/v2/*/__generated__
/src/v2/*/*/__generated__
/src/v2/**/__generated__
/src/v2/**/**/__generated__
/src/v2/*/*/__generated__/*.graphql.js
/src/beta/*/__generated__
/src/beta/*/*/__generated__
/src/beta/**/__generated__
/src/beta/**/**/__generated__
/src/beta/*/*/__generated__/*.graphql.js
/atomic
/atomic/*
/atomic/**
