/coverage
/dist
/node_modules
/test/fixtures
/src/__generated__
CHANGELOG.md
/src/views/*/__generated__
/src/v2/*/__generated__
/src/v2/*/*/__generated__
/src/v2/**/__generated__
/src/v2/**/**/__generated__
/src/v2/*/*/__generated__/*.graphql.js
/src/beta/*/__generated__
/src/beta/*/*/__generated__
/src/beta/**/__generated__
/src/beta/**/**/__generated__
/src/beta/*/*/__generated__/*.graphql.js
/src/shared/__generated__/*.graphql.js
/src/queries/__generated__/*.graphql.js
/serpa-atomic-compiler
